.Booky {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
}

.book-actions span {
  margin-right: 10%;
  padding-right: 10%;
  border-right: 1px solid lightgray;
}

.title,
.category,
.author {
  margin: 0;
}

.category {
  margin: 5px;
  font-weight: bolder;
}
