.NavBar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.menu {
  flex: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.user-avatar {
  display: flex;
  flex: 70%;
  justify-content: flex-end;
  align-items: center;
}

.user-avatar .avatar {
  padding: 0.5em;
  border-radius: 50%;
  border: 1px solid lightgrey;
  width: 3%;
}
